* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', serif;
    background-color: #D2B48C;
    color: #333; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #3e2723;
    color: #fff;
    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
}

header img {
    max-height: 100px;
    width: auto;
    object-fit: contain;
}

h1, h2 {
    color: #8b5a2b;
    margin: 30px 0;
}

h1 {
    font-size: 3em;
    text-shadow: 
        1px 1px 0 rgba(139, 69, 19, 0.8),   
        -1px -1px 0 rgba(139, 69, 19, 0.8), 
        1px -1px 0 rgba(139, 69, 19, 0.8),  
        -1px 1px 0 rgba(139, 69, 19, 0.8), 
        0 1px 0 rgba(139, 69, 19, 0.8),
        0 -1px 0 rgba(139, 69, 19, 0.8);
}

h2 {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}

.header-link a, 
a.button-link {
    display: inline-block;
    background-color: #8b5a2b;
    color: #E0CDAA;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.header-link a:hover, 
a.button-link:hover {
    background-color: #4b3621;
    transform: scale(1.05);
}

main {
    padding: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #3e2723;
    color: #fff;
    font-size: 1rem;
}

footer a {
        display: inline-block;
        color: #E0CDAA;
        text-decoration: none;
        padding: 10px 20px;
        margin: 10px;
        border-radius: 25px;
        font-size: 1.1rem;
        transition: background-color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    background-color: #8b5a2b;
}

.presentation-boutique {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #D2B48C; 
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.image-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.img-boutique {
    max-width: 100%; 
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text-container {
    flex: 2; 
    max-width: 700px; 
    text-align: justify;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #E0CDAA;
}

.shopText {
    margin: 10px 0;
    line-height: 1.6;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em; /* Taille de la police légèrement augmentée */
}

/* Media Queries pour la responsivité */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Passe en colonne sur les petits écrans */
        align-items: center; /* Centre le contenu */
    }
    
    .image-container {
        margin-right: 0; /* Supprime l'espacement à droite */
        margin-bottom: 20px; /* Espace entre les images et le texte */
    }
    
    .img-boutique {
        max-width: 80%; /* Pour les petits écrans, rendre les images plus larges */
    }
}

/* Styles pour le tableau des horaires d'ouverture */
.hourOperation {
    
    width: 80%; /* Largeur du tableau */
    border-collapse: collapse; /* Fusionne les bordures */
    margin: auto; /* Marge autour du tableau */
    margin-top: 6em;
    margin-bottom: 4em;
}

/* Styles pour l'en-tête du tableau */
.thead td {
    background-color: #8b5a2b; /* Couleur de fond des en-têtes */
    color: #fff; /* Couleur du texte */
    padding: 15px; /* Espacement intérieur */
    font-weight: bold; /* Gras pour le texte */
    text-align: center; /* Centre le texte */
}

/* Styles pour le corps du tableau */
.tbody tr {
    background-color: #E0CDAA; /* Couleur de fond des lignes */
}

/* Styles pour chaque cellule du tableau */
.tbody td {
    border: 1px solid #3e2723; /* Bordure marron clair */
    padding: 15px; /* Espacement intérieur */
    text-align: center; /* Centre le texte */
}

/* Styles pour les lignes alternées */
.tbody tr:nth-child(even) {
    background-color: #D2B48C; /* Alternance de couleur pour les lignes */
}

/* Styles pour les lignes au survol */
.tbody tr:hover {
    background-color: #c4a76d; /* Couleur de fond au survol */
    transition: background-color 0.3s ease; /* Transition douce */
}

.presentation-accueil {
    display: flex;
    flex-direction: row; /* Aligne les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    margin: 5em;
    padding: 20px;
}

.img-accueil img {
    width: 110%; /* Assure que l'image occupe toute la largeur disponible */
    max-width: 700px;  Taille maximale pour éviter qu'elle soit trop grande 
    height: auto; /* Garde le ratio d'aspect */
    margin-bottom: 20px; /* Espace entre l'image et le texte */
}

.textAccueil {
    max-width: 500px; /* Limite la largeur du texte à la même largeur que l'image */
    line-height: 1.6; /* Améliore la lisibilité */
    max-width: 700px; /* Largeur maximale pour le texte */
    text-align: justify; /* Justification du texte */
    padding: 30px; /* Espace intérieur */
    border-radius: 10px; /* Bords arrondis pour le conteneur de texte */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre pour donner du relief */
    background-color: #E0CDAA; /* Beige clair */
}

@media (min-width: 768px) {
    .presentation-accueil {
        flex-direction: row; /* Passe en disposition horizontale sur les grands écrans */
        justify-content: space-between; /* Espace égal entre image et texte */
    }
    
    .img-accueil, .textAccueil {
        flex: 1; /* Les deux prennent un espace égal */
        max-width: 50%; /* Assure que l'image et le texte aient la même largeur */
    }
    
    .img-accueil img {
        margin-bottom: 0; /* Supprime la marge quand en mode horizontal */
    }
}

.noveltyTitle, .catalogueTitle {
    font-size: 3em;
}

.novelty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}


.divCoffee {
    border: 1px solid #ccc;
    justify-content: space-between;
    background-color: #2c2c2c; /* Sombre pour correspondre à ton design sombre */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff; /* Texte clair pour le contraste */
}

.divCoffee:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Titres */
.divCoffee h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f1c40f; /* Un jaune doré pour attirer l'attention */
}

.divCoffee h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #ddd; /* Gris clair pour les détails */
}

/* Lien vers l'article */
.divCoffee a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e74c3c; /* Rouge pour le bouton */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.divCoffee a:hover {
    background-color: #c0392b; /* Un rouge plus foncé au survol */
}

.cssCatalogueDiv {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de s'enrouler sur plusieurs lignes */
    justify-content: space-between; /* Espace entre les cartes */
    gap: 40px; /* Espacement uniforme entre les cartes */
    max-width: 2000px; /* Largeur maximale pour centrer le contenu */
    margin: auto; /* Centre le conteneur */
    padding: 30px 100px 100px; /* Ajoute un padding global */
}

.divCatalogue {
    background-color: #4b3621;
    border: 2px solid #D2B48C;
    border-radius: 15px;
    padding: 40px;
    flex: 0 1 calc(50% - 20px); /* Chaque carte occupe 50% de la largeur, moins l'espace */
    box-sizing: border-box; /* Inclut le padding et la bordure dans les dimensions */
    text-align: center; /* Centrer le texte à l'intérieur des cartes */
    margin-bottom: 20px; /* Ajoute un espacement en bas de chaque carte */
    height: 900px; /* Hauteur fixée pour les cartes */
    width: 600px; /* Largeur fixée pour les cartes */
}

.divCatalogue h2, .articleDiv h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #f1c40f; /* Un jaune doré pour attirer l'attention */

}

.divCatalogue h3 {
    font-size: 1.2rem;
    margin-bottom: 15px; /* Ajoute plus d'espace en bas de chaque h3 */
    color: #D2B48C; /* Gris clair pour les détails */
    line-height: 1.2;
}

.imgCatalogue {
    border: 2px solid #D2B48C;
    max-width: 100%; /* S'assure que l'image ne dépasse pas la largeur de la carte */
    height: 500px !important; 
    border-radius: 15px;
    margin-bottom: 15px;
}

.divCatalogue a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #c4a76d; /* Rouge pour le bouton */
    color: #3e2723;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.articleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Assure que l'élément prend toute la hauteur de la page */
    padding: 50px;
    background-color: #8b5a2b;
     /* Couleur de fond douce */
}

.img-article {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Arrondit les coins de l'image */
    margin-bottom: 20px;
}

h2 {
    font-size: 3rem;
    color: black; /* Couleur pour le nom du café */
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    color:#c4a76d; /* Couleur plus douce pour les détails */
    margin-bottom: 15px;
}

.articleDiv h3:last-child {
    margin-bottom: 0; /* Supprime l'espace en bas du dernier h3 */
}
