<%- include('partials/head') %> 

<h1>O'Coffee, votre destination pour des grains de café d'exception</h1>

<section class="presentation-boutique">
    <div class="content-container">
        <div class="image-container">
            <img class="img-boutique" src="/images/boutique1.webp" alt="Facade de la boutique">
            <img class="img-boutique" src="/images/boutique2.jpg" alt="Intérieur de la boutique">
            <img class="img-boutique" src="/images/boutique3.jpg" alt="Produits de la boutique">
        </div>
        <div class="text-container">
            <p class="shopText">Les Boutiques O'coffee, véritables havres du café, se situent au cœur des quartiers animés de Paris, où l'effervescence de la vie urbaine rencontre l'art de la torréfaction. Nos boutiques sont bien plus que de simples points de vente; elles sont des refuges pour les amateurs de café, des lieux où la passion pour cette boisson emblématique se mêle à l'hospitalité française.</p>

            <p class="shopText">Dans nos espaces chaleureux et accueillants, nous vous proposons une gamme variée de cafés en grains provenant des quatre coins du monde, chacun soigneusement sélectionné pour son goût exceptionnel et son origine unique. Des montagnes d'Éthiopie aux plantations luxuriantes de Colombie, en passant par les plaines du Guatemala, chaque tasse raconte l'histoire d'un terroir et d'un savoir-faire ancestral. Que vous soyez un amateur de cafés de spécialité, désireux de découvrir des saveurs délicates et complexes, ou que vous préfériez des assemblages maison qui raviront vos papilles, nous avons de quoi satisfaire toutes vos envies.</p>

            <p class="shopText">Nos cafés artisanaux, torréfiés quotidiennement sur place, vous garantissent une fraîcheur inégalée. Nous nous engageons à moudre chaque grain à la demande, afin de préserver la richesse des arômes et de garantir une expérience de dégustation optimale. Chaque gorgée est un voyage sensoriel, où l'intensité et la douceur s'harmonisent parfaitement pour créer une symphonie de saveurs.</p>

            <p class="shopText">Mais O'coffee, c'est également bien plus que du café. Notre large sélection inclut une variété de thés raffinés, soigneusement choisis pour leurs propriétés aromatiques et bienfaisantes. Que vous soyez amateur de thés noirs corsés, de thés verts délicats ou d'infusions florales apaisantes, vous trouverez chez nous une boisson qui saura vous séduire. Nous offrons également une gamme de tisanes, parfaites pour accompagner vos moments de détente, ainsi que des chocolats fins, issus de plantations durables, qui viendront sublimer votre pause gourmande.</p>

            <p class="shopText">Pour ceux qui souhaitent approfondir leur passion pour le café, nous proposons une sélection de machines à café haut de gamme et d'accessoires de préparation. Des moulins à café aux cafetières à piston, en passant par les systèmes d'extraction avancés, nous avons tout ce qu'il vous faut pour recréer chez vous l’expérience unique que vous vivez dans nos boutiques. De plus, nos baristas expérimentés sont toujours prêts à partager leurs conseils et astuces pour vous aider à tirer le meilleur de vos préparations.</p>

            <p class="shopText">Enfin, notre engagement envers la qualité et la durabilité se reflète dans nos choix de sourcing. Nous travaillons en étroite collaboration avec des producteurs qui partagent nos valeurs et notre vision d’un commerce équitable. Chaque achat chez O'coffee contribue à soutenir des communautés de cultivateurs passionnés, garantissant un avenir meilleur pour tous.</p>

            <p class="shopText">Venez découvrir l'univers d'O'coffee, où chaque visite est une invitation à explorer les plaisirs du café et à célébrer la richesse de notre patrimoine gustatif. Nous avons hâte de vous accueillir dans nos boutiques, où chaque tasse de café est une promesse de qualité, de convivialité et de passion.</p>
        </div>
    </div>
</section>

<table class="hourOperation">
    <thead class="thead">
        <tr>
            <td>Jour</td>
            <td>Matin</td>
            <td>Aprés-midi</td>
        </tr>
    </thead>

    <tbody class="tbody">
        <tr class="lundi">
            <td>Lundi</td>
            <td>Fermé</td>
            <td>13h00-18h30</td>
        </tr>
        <tr class="mardi">
            <td>Mardi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr class="Mercredi">
            <td>Mercredi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr class="Jeudi">
            <td>Jeudi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr class="Vendredi">
            <td>Vendredi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr class="samedi">
            <td>Samedi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr class="dimanche">
            <td>Dimanche</td>
            <td>Fermé</td>
            <td>Fermé</td>
        </tr>
    </tbody>
</table>

<%- include('partials/foot') %> 